.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-primary {
  color: #3eaf7c;
}

.q-mx-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

.q-mt-sm {
  margin-top: 0.5rem;
}

.q-mb-xl {
  margin-bottom: 3rem;
}

// 应用到所有的子元素
.q-gutter-lg > * {
  margin-left: 2rem;
  margin-right: 2rem;
}

.max-width-200 {
  max-width: 200px !important;
}

// 鼠标悬停时以卡片状态显示
.hover-card {
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    // 绕中心放大
    transform: scale(1.03);
  }
}
