[Unit]
Description=UZon Mail Service
After=network.target

[Service]
WorkingDirectory=/usr/local/uzon-mail
ExecStart=/usr/bin/dotnet /usr/local/uzon-mail/UZonMailService.dll
Restart=always
RestartSec=10
SyslogIdentifier=uzon-mail
User=www
Group=www
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target