// 所有表格的样式
table tbody tr:nth-child(odd) {
  // background-color: hsl(0, 0%, 90%);
  background-color: #f5f5f5;
}

#app {
  table tbody tr:nth-child(odd) {
    // background-color: hsl(0, 0%, 90%);
    background-color: #f5f5f5;
  }

  .q-table__top {
    background-color: white;
  }

  .q-table__container {
    /* height or max-height is important */
    height: 100%;

    // .q-table__top,
    // .q-table__bottom,
    // thead tr:first-child th {
    //   /* bg color is important for th; just specify one */
    //   background-color: #c1f4cd;
    // }

    thead tr th {
      position: sticky;
      z-index: 1;
      // 该颜色要与 .q-table__top 一致
      background-color: white;
    }

    thead tr:first-child th {
      top: 0;
    }

    /* this is when the loading indicator appears */
    &.q-table--loading thead tr:last-child th {
      /* height of all previous header rows */
      top: 48px;
    }
  }

  .q-table__middle {
    &::-webkit-scrollbar-track-piece {
      background: #ffffff;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #7bbb8b;
      border-radius: 20px;
    }
  }
}
