// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #67b279;
$secondary : orange;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #f6416c;
$info      : #31CCEC;
$warning   : orange;

@import '~quasar-variables-styl'
