// sidebar
$menuText:#4d4d4d;
// $menuActiveText:#409EFF;
$menuActiveText:#67b279;
$subMenuActiveText:#67b279; //https://github.com/ElemeFE/element/issues/12951

// $menuBg:#304156;
$menuBg:#ffffff;
$menuHover:#eeeeee;

$subMenuBg:#ffffff;
$subMenuHover:#eeeeee;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}